#myWebGLCanvas {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
}

#myImageCanvas {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
}

.footer {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 652px;
    width: 1100px;
    height: 96px;
    z-index: 10;
    background: #eeeeee;
    border-style: solid;
    border-color: purple;
    border-width: 2px;
  }

  .footer__content-text {
    text-align: center;
    margin-top: -15px;
    padding: 15px 20px;
  }
  
  .score {
    text-align: right;
    margin-top: -70px;
    margin-right: 20px;
    font-weight: bold;
    color: purple;
  }

  .shield {
    text-align: right;
    margin-top: 0px;
    margin-right: 20px;
    font-weight: bold;
    color: purple;
  }

  .earth {
    text-align: right;
    margin-top: 0px;
    margin-right: 20px;
    font-weight: bold;
    color: purple;
  }

  .alpha {
    text-align: left;
    margin-top: -100px;
    margin-left: 20px;
    font-weight: bold;
    color: purple;
  }

  .beta {
    text-align: left;
    margin-top: 0px;
    margin-left: 20px;
    font-weight: bold;
    color: purple;
  }

  .charlie {
    text-align: left;
    margin-top: 0px;
    margin-left: 20px;
    font-weight: bold;
    color: purple;
  }

  .station1charge {
    text-align: left;
    margin-top: -95px;
    margin-left: 175px;
    font-weight: bold;
    color: purple;
  }

  .station2charge {
    text-align: left;
    margin-top: 0px;
    margin-left: 175px;
    font-weight: bold;
    color: purple;
  }

  .station3charge {
    text-align: left;
    margin-top: 0px;
    margin-left: 175px;
    font-weight: bold;
    color: purple;
  }

  .selected {
    text-align: center;
    margin-top: -70px;
    font-weight: bold;
    color: purple;
    font-size: 14pt;
  }

  .restart {
    text-align: center;
    margin-top: 0px;
    font-size: 8pt;
  }

  .loading {
    text-align: center;
    margin-top: -625px;
    font-weight: bold;
    color: silver;
    font-size: 30pt;
  }

  .page__content-container {
    margin: 100px auto;
    width: 800px;
    padding: 30px;
  }
